@charset "utf-8";

@media screen and(min-width:481px)and(max-width:799px){
    /*common*/
    .container{
        width:90vw;
        margin:0 auto;
    }

    img{
        width: 100%;
    }

    /*header*/

    /*main*/
    .company-box{
        width:40vw;
        background: #fbe5d7;
        padding:50px 0;
    }
    
    .business-box{
        width:260px;
        background: #f4b184;
        padding: 50px 0;
    }
    
    .member-box{
        background: #fbe5d7;
        width:395px;
        padding:20px 0;
        margin:5px 0;
    }

    /*footer*/
}